body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  background: #EEE;
  color: #212121;
}

html, body {
  height: 100%;
}

.list {

  &__table {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 1px solid #666;
    overflow-y: auto;
  }

  &__table-row {
    display: flex;
  }

  &__table-col {
    padding: 10px;
    border: 1px solid #666;
    width: 33.33%;
    min-width: 100px;
    cursor: pointer;
  }

  &__table_header {
    background: aquamarine;
  }

  &__button {
    background: aquamarine;
    border: none;
    padding: 10px;
    font-size: 18px;
    width: 260px;
    margin-top: 30px;
    border: 2px solid #333;
    cursor: pointer;
    transition: all 0.7s;
    margin-right: 20px;
  }

  .list__button_white {
    background: #fff;
  }

  &__button:hover {
    background: #333;
    color: #fff;
  }
}

.screen-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.screen-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .list__button {
    margin-right: 0;
  }
}